server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # Habilitar descubrimiento
          lower-case-service-id: true # Nombres de servicio en minúscula
      routes:
        - id: ms-solicitudes
          uri: lb://ms-solicitudes # "lb" = Load Balancer (Eureka)
          predicates:
            - Path=/api/v1/solicitudes/**, /api/v1/tracking/**

        - id: ms-flota
          uri: lb://ms-flota
          predicates:
            - Path=/api/flota/** # Ruta de FlotaController

        - id: ms-logistica
          uri: lb://ms-logistica
          predicates:
            - Path=/api/v1/rutas/**, /api/v1/depositos/**, /api/v1/tarifas/**, /api/v1/tramos/**

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI:http://localhost:8088/realms/tpi-backend}

# Configuración de Eureka Client
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}

# Variables (ya no se usan para las rutas, pero las dejo por si las usas en otro lado)
MS_SOLICITUDES_URL: lb://ms-solicitudes
MS_FLOTA_URL: lb://ms-flota
MS_LOGISTICA_URL: lb://ms-logistica